:root {
  --info-bar-bg: #1B72E8;
  --content-c-bg: #F8F9FA;
  --ring-orange: #F28B31;
}

.debug{
  background-color: rgba(0, 128, 0, 0.269);
  border: 1px solid black;
}

#navbar {
  width: 100%;
  height: 70px;
}

#aside {
  width: 70px;
  height: calc(100vh - 70px);
  padding: 20px 0 30px 20px;
}

#r-container{
  width: calc(100% - 70px);
  height: calc(100vh - 70px);
}

#info-bar,
#content-c {
  width: 100%;
}

#info-bar{
  height: 120px;
}
#content-c{
  height: calc(100% - 120px);
}